
/* =================================================
Banner & Tag line styling - Mobile
==================================================== */


@media only screen and (max-device-width: 812px) {
    .Banner_Title {
        font-size: 2.5em; /*5vmin;*/
        top: .3em;
        left: 20%;
        width: 90%;
        line-height: .7em;
    }

    .TagLine {
        font-size: 1.6em;
        top: 37%;
        left: 12%;
    }
}

@media only screen and (max-device-width: 667px) {
    .Banner_Title {
        font-size: 2em;
        top: .4em;
        left: 22%;
        width: 80%;
        line-height: 7vmin;
    }

    .TagLine {
        font-size: 1.4em;
        top: 37%;
        left: 12%;
    }

    .Banner_Logo {
        top: 5%;
        left: 3%;
        height: 70%
    }
}
@media only screen and (max-width: 1200px) {
    .banner {
        background: url(../img/logo.png) no-repeat right;
    }

    .Banner_Title {
        font-size: 2.4em;
        top: .3em;
        left: 14%;
    }

    .TagLine {
        font-size: 2.0em;
        top: 26%;
    }
}

@media only screen and (max-width: 996px) {
    .banner {
        background-position: left;
        background-size: cover;
        height: 110px;
    }

    .Banner_Title {
        font-size: 5vmin;
        top: .3em;
        left: 20%;
        width: 80%;
        line-height: 4vmin;
    }

    .TagLine {
        font-size: 3.8vmin;
        top: 35%;
        left: 8%;
    }

    .Banner_Logo {
        top: 5%;
        left: 3%;
    }
}

@media only screen and (max-device-width: 480px) {
    .banner {
        background-size: cover;
        height: 80px;
        background-position: left;
    }

    .Banner_Title {
        font-size: 6vmin;
        top: 10%;
        left: calc(20% + 2vw);
        width: 80%;
        line-height: 5vmin;
    }

    .TagLine {
        font-size: 4vmin;
        top: 27%;
        left: 8%;
    }

    .Banner_Logo {
        top: 5%;
        left: 3%;
        height: 14vmin;
    }
}


/* =================================================
  End of Banner & Tag line styling - Mobile
==================================================== */