/* =================================================
  CSS Styling for the Banner & Tag Line
==================================================== */

.Banner_Title {
    font-family: 'bank_gothicregular';
    text-transform: uppercase;
    font-size: 2.8em;
    position: absolute;
    left: 12%;
    top: 2%;
    letter-spacing: -.06em;
}

.TagLine {
    font-family: 'Montserrat', "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 2.2em;
    color: rgb(161,7,50);
    position: relative;
    left: 14%;
    top: 0.9em;
}

@font-face {
    font-family: 'bank_gothicregular';
    src: url('bank_gothic_medium-webfont.woff2') format('woff2'), url('bank_gothic_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Banner_Logo {
    height: 85%;
    position: relative;
    float: left;
    display: inline-block;
    margin-top: .2em;
}
.banner {
        background: url(../img/logo.png) no-repeat right;
    }


/* =================================================
  End of Banner & Tag line styling
==================================================== */