.notification-bar img{
width:25px;
height:25px;
}
.notification-bar {
background-color:lightgoldenrodyellow;
}
.alert-message{
    margin-top: 1%;
    margin-left: 4%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}